In [ ]:
import pandas as pd

In [ ]:
file1 = pd.read_csv('file1.csv')
file1

In [ ]:
file2 = pd.read_csv('file2.csv')
file2

In [ ]:
file3 = pd.read_csv('file3.csv')
file3

In [ ]:
file1.shape

In [ ]:
file2.shape

In [ ]:
file3.shape

In [ ]:
file1_clean = file1
file1_clean = file1.rename(columns ={'ST':'State', 'GENDER':'Gender'})
file1_clean

In [ ]:
file1_clean.columns

In [ ]:
file2_clean = file2
file2_clean = file2.rename(columns ={'ST':'State', 'GENDER':'Gender'})
file2_clean

In [ ]:
file2_clean.columns

In [ ]:
file2_ordered = file2_clean[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [ ]:
file2_ordered.columns

In [ ]:
file1_clean.columns

In [ ]:
file3_ordered = file3
file3_ordered = file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [ ]:
file3_ordered.columns

In [ ]:
#Concatenate
concat_table = pd.concat([file1_clean, file2_ordered, file3_ordered])
concat_table

In [ ]:
concat_table.reset_index(drop=True)

In [ ]:
concat_table.dtypes

#Categorical Columns: Customer, State, Gender, Education, CLV, Income, NOC, Policty Type, Vehicle Class
#Numerical Columns:Income, Monthly Premium Auto, Total Claim Amount

In [ ]:
concat_table.isnull().sum()

In [ ]:
concat_table['Income'].fillna(value=concat_table['Income'].mean(), inplace = True)
concat_table['Monthly Premium Auto'].fillna(concat_table['Monthly Premium Auto'].mean(), inplace = True)
concat_table['Total Claim Amount'].fillna(value=concat_table['Total Claim Amount'].mean(), inplace = True)
concat_table = concat_table.round(1)
concat_table.isnull().sum()

In [ ]:
concat_table.dtypes

In [ ]:
concat_table['Vehicle Class'] = concat_table['Vehicle Class'].fillna('Unknown')

concat_table['Vehicle Class'].value_counts(dropna=False)

In [ ]:
concat_table['Policy Type'] = concat_table['Policy Type'].fillna('Unknown')
concat_table['Policy Type'].value_counts(dropna=False)

In [ ]:
concat_table['State'] = concat_table['State'].fillna('Unknown')
concat_table['State'].value_counts(dropna=False)

In [ ]:
concat_table['Customer'] = concat_table['Customer'].fillna('Unknown')
concat_table['Customer'].value_counts(dropna=False)

In [ ]:
concat_table['Gender'] = concat_table['Gender'].fillna('F')
concat_table['Gender'].value_counts(dropna=False)

In [ ]:
table_delete = concat_table
table_deleted = table_delete.drop(columns=['Education','Number of Open Complaints'])
table_deleted.isnull().sum()

In [ ]:
table_customer = table_deleted
table_customer['Customer Lifetime Value'] = table_customer['Customer Lifetime Value'].to_string()
table_customer['Customer Lifetime Value'] = table_customer['Customer Lifetime Value'].str.replace('%','')
#table_customer['Customer Lifetime Value'] = pd.to_numeric(table_customer['Customer Lifetime Value'])
#table_customer['Customer Lifetime Value'].fillna(value=table_customer['Customer Lifetime Value'].mean(), inplace = True)

#table_customer.isna().sum()

#table_customer['Customer Lifetime Value'].fillna(value=table_customer['Customer Lifetime Value'].mean(), inplace = True)
#table_customer.dtypes
table_customer['Customer Lifetime Value']

In [620]:
table_multiplied = table_deleted
table_multiplied['Customer Lifetime Value'] = table_customer['Customer Lifetime Value'] * 100
table_multiplied['Customer Lifetime Value']

0       7.799463e+07
1       6.979536e+07
2       1.288743e+08
3       7.645862e+07
4       5.363076e+07
            ...
7065    7.799463e+07
7066    7.799463e+07
7067    7.799463e+07
7068    7.799463e+07
7069    7.799463e+07
Name: Customer Lifetime Value, Length: 12074, dtype: float64

In [631]:
table_duplicates = table_multiplied
table_duplicates.duplicated(keep=False).value_counts()

False    9131
True     2943
dtype: int64

In [630]:
table_duplicates = table_duplicates.drop_duplicates()
table_duplicates.duplicated(keep=False).value_counts()

False    9131
dtype: int64

In [635]:
table_filtered = table_duplicates
table_filtered = table_filtered[table_filtered['Income'] <= 0]
table_filtered

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,F,7.799463e+07,0.0,1000.0,Personal Auto,Four-Door Car,2.7
1,QZ44356,Arizona,F,6.979536e+07,0.0,94.0,Personal Auto,Four-Door Car,1131.5
3,WW63253,California,M,7.645862e+07,0.0,106.0,Corporate Auto,SUV,529.9
7,CF85061,Arizona,M,7.216100e+07,0.0,101.0,Corporate Auto,Four-Door Car,363.0
10,SX51350,California,M,4.738992e+07,0.0,67.0,Personal Auto,Four-Door Car,482.4
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,F,7.799463e+07,0.0,76.0,Personal Auto,Four-Door Car,364.8
7061,RX91025,California,M,7.799463e+07,0.0,185.0,Personal Auto,SUV,1950.7
7062,AC13887,California,M,7.799463e+07,0.0,67.0,Corporate Auto,Two-Door Car,482.4
7067,TD14365,California,M,7.799463e+07,0.0,85.0,Corporate Auto,Four-Door Car,790.8
7069,Y167826,California,M,7.799463e+07,0.0,77.0,Corporate Auto,Two-Door Car,369.6